<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Express</title>
    <style>
    
    body {
            background: #69043f;  
background: -webkit-linear-gradient(to right, #e075b0, #69043f);  
background: linear-gradient(to right, #e075b0, #69043f); 

        }
        
        h1 {
          color: rgb(255, 255, 255);
          text-align: center;
          font-family: 'Style Script', ;
          font-size: 100px;
        }
        </style>
</head>
<body>
  <header>

    
    
        <nav   class="navbar navbar-expand-sm bg-light navbar-light">
          <i class="fas fa-home"></i>
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="Home.html">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="OurServices.html">OUR SERVICES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="ContactUs.html">CONTACT US</a>
              </li>
            
            </ul>
          </nav>
      
         
  
  </header>
    <h1>home</h1>
</body>
</html>
